@import url('https://googleapis.com?css?family=Poppins:400,500,700');

html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
{navigation start here}
.navbar{
    padding-right: 20px;
    background-color: rgb(25, 23, 23);
    position: fixed;
    width: 100%;
}
.navbar-toggler-icon{
    color: white;
}
.navbar-brand{
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.navbar .navbar-brand img{
    padding: 2px; 
    background-color: white; 
    border-radius: 50px;
    margin-bottom: 5px; 

}

.navbar #navbarnav li{
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.nav-link{
    font-size: 18px;
    color: white;
}
.mainlogo{
    height: 90vh;
    width: 100%;
}
.navbar #navbarnav li:hover{
    background-color: gray;
}
.navbar .navbar-brand:hover{
    background-color: gray;    
}
{navigation end here}

.slogan{
    position: absolute;
    top: 10%;
    transform: translate(-50%-50%);
   
    
}
.slogan h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    color: rgb(209, 202, 136);
    text-shadow: 1px -1px 0 #ffe100;
}

{Newest Tees start here}
.company{
    padding-top: 50px;
}
.company h2{
    font-size: 40px;
}
.company p{
    font-size: 25px;
}
.snkywys img{
    max-width: 100%;
   max-height: 100%;
}
.limitted{
  font-size: 40px;
  color: #ff0000;
}
.ourteam{
    padding: .8rem;
    font-size: 30px;
    
}
.card{
    text-align: center;
    line-height: 5px;
}
{Newest Tees end here}

{Galery starts here}
img{
    max-width: 100%;

}
.gallery{
    background-color:#dbdbf1;
    padding: 80px 0;
}
.gallery img{
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#gallery-modal .modal-img{
    width: 100%;
}


{Gallery ends here}

{company starts here}
.company{
    padding-top: 50px;
}
.company h2{
    font-size: 40px;
}
.company p{
    font-size: 25px;
}
.snkywys img{
    max-width: 100%;
   max-height: 100%;
   padding-right: 0px;
}

.card{
    background-color:#dbdbf1;
}
.card img{
    background-color: #b3b3b3;
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

{company ends here}


{carousel starts here}

.product-item{
    border: 1px solid rgb(219, 219, 219);
}
.product-img{
    position: relative;
    overflow: hidden;
}
.btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
.btns button{
    border: none;
    background-color: rgb(39,39,39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btns button:hover{
    color: #fcb941 ;
}
.btns button a{
    color: #ffffff;
    text-decoration: none;
    
}
.btns button a:hover{
    color: #fcb941 ;
}
.product-img:hover .btns{
    bottom: 0;
}
.heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}
.product-type{
    font-size: 13px;
    opacity: 0.8;
}
.product-name{
    transition: all 0.3s ease-in-out;
}
.product-name:hover{
    color: #fcb941 !important;
}
.product-price{
    color: red;
}
.rating{
    font-size: 13px;
}
.product-item{
    max-width: 300px;
    max-height: 500px;
    padding: 0px;
}

{Carousel Ends Here}



{Social Starts Here}
.website{
    text-align: center;
}
#social_media1{
    color:rgb(0, 47, 255);
    opacity: 0.6;
    font-size: 30px;
    transition: all 0.2s linear;
    background-color: white;
    border-radius: 50px;
}
#social_media1:hover{
    opacity: 1;   
}
#social_media2{
    color:rgb(255, 0, 0);
    opacity: 0.6;
    font-size: 30px;
    transition: all 0.2s linear;
}
#social_media2:hover{
    opacity: 1;   
}
#social_media3{
    color:rgb(1, 134, 252);
    opacity: 0.6;
    font-size: 30px;
    transition: all 0.2s linear;
}
#social_media3:hover{
    opacity: 1;   
}
.website{
    background-color: rgb(25, 23, 23);
}
.website h3 a{
    background-color: rgb(25, 23, 23);
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: none;

}
.website h3 a:hover{
    color: blue;
}
{Social End Here}

{Footer  Starts Here}
.footer{
    line-height: 5px;
    background-color: rgb(25, 23, 23);
    color: white;
}
.navbar-brand img{
    padding: 2px; 
    background-color: white; 
    border-radius: 50px;
    margin-bottom: 1px;
}
{Footer End Here}






/*---Media Queries ---*/
@media (max-width: 992px){

}
@media (max-width: 768px){

}
@media (max-width: 576px){
    
}
